<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>

  <body>
    <div >
      <h1> {{ title }}! </h1>
      <h2>All the tasks:</h2>
      <div style="text-align:left">
        <ul *ngFor="let task of tasks">
          <li>{{task.title}} - {{task.description}}</li> 
        </ul>
      </div>

      <h2>The second tasks:</h2>
      <p *ngIf="one_task">{{ one_task.title }} - {{ one_task.description }}</p>
    </div>
  </body>

</html>